.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flyffFont {
  font-family: "Arial Rounded MT Bold", Impact, "Courier New", Courier,
    monospace;
}

.secondaryTitle {
  font-size: larger;
}

.flyffBlue {
  color: #00bfff;
}

.flyffPurple {
  color: #8a2be2;
}

.flyffYellow {
  color: #ffff00;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
  background-color: blanchedalmond;
  cursor: url(https://cur.cursors-4u.net/games/gam-11/gam1088.cur), auto !important; /* End https://www.cursors-4u.com */
}

.circle img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.upRight {
  transform: rotate(180deg);
}
